<% provide(:title, 'All Events') %>
<h1>All Events</h1>

Search:
<%= form_tag(events_path, method: :get) do %>
<%= text_field_tag(:search, "") %>
<%= submit_tag ("Search") %>
<% end %>

<%= will_paginate %>
<ul class="events">
  <% @events.each do |event| %>
    <li>
	  ID: <%= event.id %>
      <%= link_to event.name, event %>
	  <%= link_to "delete", event, method: :delete, data: {confirm: "You sure?"} %>
    </li>
  <% end %>
</ul>
<%= will_paginate %>
