<% provide(:title, 'Create') %>
<h1>Create new event</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@event, url: events_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :month %>
      <%= f.number_field :month, class: 'form-control' %>

      <%= f.label :year %>
      <%= f.number_field :year, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>

      <%= f.label :CLY_sponsored %>
      <%= f.check_box :CLY_sponsored %>

      <%= f.label :location %>
      <%= f.text_field :location, class: 'form-control' %>

      <%= f.submit "Create new event", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%= form_tag import_events_path, multipart: true do %>
<%= file_field_tag "file" %>
<%= submit_tag "Import CSV" %>
<% end %>
