<% provide(:title, @event.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="event_info">
      <h1>
        <%= @event.name %>
        <%= @event.month %>
        <%= @event.year %>
        <%= @event.description %>
        <%= @event.CLY_sponsored %>
        <%= @event.location %>
      </h1>
    </section>
  </aside>
  <%= link_to "edit event record", edit_event_path(@event)  %>
      <%= link_to "delete event record", @event, method: :delete, data: { confirm: "You sure?" } %>
  <div class="col-md-8">
    <%= will_paginate @attendances %>
    <% @event.attendances.each do |attendance| %>
      <%= Alumnus.find(attendance[:alumnus_id]).name %>
      <%= attendance.description %>
      <%= link_to "delete", attendance, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
    <%= will_paginate @attendances %>
  </div>
</div>
