<% provide(:title, @event.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="event_info">
      <h1>
        <%= @event.name %>
        <%= @event.month %>
        <%= @event.year %>
        <%= @event.description %>
        <%= @event.CLY_sponsored %>
        <%= @event.location %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
  </div>
</div>
