<% provide(:title, 'All Alumni') %>
<h1>All Events</h1>

<%= will_paginate %>
<ul class="alumni">
  <% @alumni.each do |alumnus| %>
    <li>
	  ID: <%= alumnus.id %>
    <%= alumnus.name %>
    <%= link_to alumnus.name, alumnus %>
    <%= link_to "edit", edit_alumnus_path(alumnus)  %>
	  <%= link_to "delete", alumnus, method: :destroy, data: {confirm: "You sure?"} %>
    </li>
  <% end %>
</ul>
<%= will_paginate %>
