<% provide(:title, 'All Alumni') %>
<h1>All Events</h1>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= form_tag import_alumni_path, multipart: true do %>
  <%= file_field_tag "file" %>
  <%= submit_tag "Import CSV" %>
<% end %>

Search:
<%= form_tag(alumni_path, method: :get) do %>
<%= text_field_tag(:search, "") %>
<%= submit_tag ("Search") %>
<% end %>

<%= will_paginate %>
<ul class="alumni">
  <% @alumni.each do |alumnus| %>
    <li>
	  ID: <%= alumnus.id %>
    <%= alumnus.name %>
    <%= link_to alumnus.name, alumnus %>
    <%= link_to "edit", edit_alumnus_path(alumnus)  %>
	  <%= link_to "delete", alumnus, method: :delete, data: {confirm: "You sure?"} %>
    </li>
  <% end %>
</ul>
<%= will_paginate %>
