<% provide(:title, 'All Alumni') %>
<h1>All Events</h1>

<%= will_paginate %>
<ul class="alumni">
  <% @alumni.each do |alumnus| %>
    <li>
	  ID: <%= alumnus.id %>
      <%= link_to alumnus.name, alumnus %>
	  <%= link_to "delete", event, method: :destroy, data: {confirm: "You sure?"} %>
    </li>
  <% end %>
</ul>
<%= will_paginate %>
