<% provide(:title, @alumnus.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="alumnus_info">
      <h1>
        <%= @alumnus.name %>
        <%= @alumnus.email %>
        <%= @alumnus.phone %>
        <%= @alumnus.location %>
        <%= @alumnus.college %>
        <%= @alumnus.yale_degree %>
        <%= @alumnus.yale_degree_year %>
        <%= @alumnus.other_degrees %>
        <%= @alumnus.linkedin %>
        <%= @alumnus.employer %>
        <%= @alumnus.employed_field %>
        <%= @alumnus.recommender %>
      </h1>
    </section>
  </aside>
  <%= link_to "edit alumnus record", edit_alumnus_path(@alumnus)  %>
    <%= link_to "delete alumnus record", @alumnus, method: :destroy, data: { confirm: "You sure?" } %>
  <div class="col-md-8">
    <%= will_paginate @attendances %>
    <% @alumnus.attendances.each do |attendance| %>
      <%= Event.find(attendance[:event_id]).name %>
      <%= attendance.description %>
      <%= link_to "delete", attendance, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
    <%= will_paginate @attendances %>
  </div>
</div>
