<% provide(:title, 'New Attendance Record') %>
<h1>Create Attendance Record</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@attendance, url: attendances_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :alumnus_email %>
      <%= f.email_field :alumnus_email, class: 'form-control' %>

      <%= f.label :event_name %>
      <%= f.text_field :event_name, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>

      <%= f.submit "Create Attendance Record", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
